/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC         &kp TAB         &kp BACKSPACE   &kp LEFT_SHIFT
                &mo 1           &kp KP_NUMLOCK  &kp KP_ASTERISK &kp KP_EQUAL
                &kp KP_NUMBER_7 &kp KP_NUMBER_8 &kp KP_NUMBER_9 &kp KP_MINUS
                &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6 &kp KP_PLUS
                &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3 
                &kp KP_NUMBER_0 &kp KP_NUMBER_0 &kp KP_DOT      &lt 1 KP_ENTER
            >;

        };

         bt_layer {
             bindings = <
                &none           &none           &sys_reset      &bootloader
                &out OUT_TOG    &out OUT_USB    &out OUT_BLE    &none
                &bt BT_SEL 0    &bt BT_PRV      &bt BT_NXT      &bt BT_CLR
                &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &tog 0
                &kp C_MUTE      &none           &none           
                &none           &none           &none           &none
             >;

    };
};
